name: Test Pull Request

on:
  pull_request:
    paths: ["[0-9a-fA-F]+"]
  workflow_dispatch:

permissions: write-all

jobs:
  test_dirty_push_in_pull_request:
    name: Test Dirty Push in Pull Request
    if: ${{ startsWith(github.head_ref, 'workflows/tests/push/') }}
    outputs:
      touched-filename: ${{ steps.make-dirty.outputs.touched-filename }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Make dirty
        id: make-dirty
        run: |
          echo "touched-filename=`git rev-parse --verify HEAD`" >> $GITHUB_OUTPUT
          touch `git rev-parse --verify HEAD`

      - uses: ./
        id: test-action
        with:
          fail-if-not-clean: false
          push-if-not-clean: true
          request-changes-if-not-clean: false

      - name: Verify outputs
        env:
          TEST_ACTION_OUTPUT: ${{ steps.test-action.outputs.status }}
        run: |
          if [[ $TEST_ACTION_OUTPUT != "dirty" ]]
          then
            exit 1;
          fi

  verify_dirty_push_in_pull_request:
    name: Verify Dirty Push in Pull Request
    if: ${{ startsWith(github.head_ref, 'workflows/tests/push/') }}
    needs: test_dirty_push_in_pull_request
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Verify outputs
        env:
          TOUCHED_FILENAME: ${{ needs.test_dirty_push_in_pull_request.outputs.touched-filename }}
        run: |
          if [[ ! -f "$TOUCHED_FILENAME" ]]
          then
            exit 1
          fi

  test_dirty_request_changes_in_pull_request:
    name: Test Dirty Request Changes in Pull Request
    if: ${{ startsWith(github.head_ref, 'workflows/tests/request-changes/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Make dirty
        id: make-dirty
        run: |
          touch `git rev-parse --verify HEAD`

      - uses: ./
        id: test-action
        with:
          fail-if-not-clean: false
          push-if-not-clean: false
          request-changes-if-not-clean: true

      - name: Verify outputs
        env:
          TEST_ACTION_OUTPUT: ${{ steps.test-action.outputs.status }}
        run: |
          if [[ $TEST_ACTION_OUTPUT != "dirty" ]]
          then
            exit 1;
          fi

  verify_dirty_request_changes_in_pull_request:
    name: Verify Dirty Push in Pull Request
    if: ${{ startsWith(github.head_ref, 'workflows/tests/request-changes/') }}
    needs: test_dirty_request_changes_in_pull_request
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Verify outputs
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          REVIEW_DECISION=$(gh pr status --json reviewDecision -q .currentBranch.reviewDecision)
          echo "::notice::Review decision is $REVIEW_DECISION"
          if [[ $REVIEW_DECISION != "CHANGES_REQUESTED" ]]
          then
            exit 1;
          fi
